:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --font-color: #333;
    --background-color: #f4f4f9;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
}

header h1 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
}

header ul {
    list-style: none;
    display: flex;
    gap: 15px;
    background-color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Main */
main {
    padding: 20px;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

.ajout-utilisateur{
    display: flex;
    align-items: center;
    flex-direction: column;
}
input, select, button {
    padding: 8px;
}
button {
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
button:hover {
    background-color: #2980b9;
}
.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #2980b9;
}
