:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --font-color: #333;
    --background-color: #f4f4f9;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.bar-nav{
    background-color: var(--primary-color);
    padding: 10px 20px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;

}

#home-icon {
    color: white
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: gray;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}


.hero {
    text-align: center;
}

/* Faire un bouton */
.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #2980b9;
}

.btn.secondary {
    background-color: var(--secondary-color);
}

.btn.secondary:hover {
    background-color: #2980b9;
}

